@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500");
@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400");



.home-display-top-header{
  text-align: start;
  margin: auto;
  max-width: 1064px;
}
.home-display-top-header-welcome-user-id{
  display:flex;
  margin-bottom: 52px;
}

.home-display-grad {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 1.6rem 1rem;
  background-image: linear-gradient(to bottom right, #DAA9A9 0%,#643CE4 65%, #B6AAFF 100%);
  border-radius: 12px;
}
.dashboard-new-user-tttt-recent-projects-this-is-where-your-recent-projects-would-show-up-trectangle-35bg-rectangle-31tbg-rectangle-35to-do-list-trectangle-1068complete-your-profile-trectangle-1069setup-your-portfolio-trectangle-1070create-your-first-project-frame {
  display: flex;
  align-self: stretch;
  margin-top: 67px;
  align-items: flex-start;
  justify-content: center;
  column-gap: 3%;
  flex-wrap: wrap;
}
.dashboard-new-user-ttt-recent-projects-this-is-where-your-recent-projects-would-show-up-trectangle-35bg-rectangle-31tbg-rectangle-35to-do-list-trectangle-1068complete-your-profile-trectangle-1069setup-your-portfolio-trectangle-1070create-your-first-project {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  row-gap: 28px;
  letter-spacing: 0em;
}
@media (min-width:1020px){
  .home-display-top-header-welcome-user-id{
    display:flex;
    margin-bottom:115px;
  }
  .home-display-grad {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 4.8rem;
    background-image: linear-gradient(to bottom right, #DAA9A9 0%,#643CE4 65%, #B6AAFF 100%);
    border-radius: 30px;
  }
.dashboard-new-user-ttt-recent-projects-this-is-where-your-recent-projects-would-show-up-trectangle-35bg-rectangle-31tbg-rectangle-35to-do-list-trectangle-1068complete-your-profile-trectangle-1069setup-your-portfolio-trectangle-1070create-your-first-project {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  row-gap: 14px;
  letter-spacing: 0em;
}
.column-smart-block{
  display: inherit;
  z-index: 0;
}
}

.dashboard-home-screen-item-contents-recent-projects-filter{
  display: flex;
  z-index: 1;
  justify-content: flex-start;
  letter-spacing: -0.01em;
}

.dashboard-new-user-new-project-no-projects-has-been-made {
  display: grid;
  margin: 70px 0px;
  justify-items: center;
  line-height: 2rem;
}

.column-smart-block{
display: flex;
flex-direction: column;
padding: 24px;
background-color: rgb(251, 251, 251);
border-radius: 12px;
box-shadow:2px 2px 4px 0px #AAAAAA;
max-width: 1064px;
}

.spec-header{
  display:flex;
  justify-content: space-between;
}

.int-block1{
  display: inherit;
  border: 2px;
  border-radius: 4px;
  border-color: #8F00FF;
  background-color: #FCFCFC;
}

#user-smart-scheduling-list-to-do{
  z-index: 0;
  justify-items: center;
}

.task-board{
  display: flex;
  margin: 24px 0px;
}
.task-schuedling-block{
  display: block;
  padding: 10px 8px;
  
}

.text-column{
display: flex;
flex-direction: column;
column-gap: 16px;
}

#task-due-date{
  font: lighter;
  color: grey;
}

.dashboard-new-user-to-do-list {
  display: grid;
  z-index: 1;
  color: rgba(0, 0, 0, 1);
}

.dashboard-new-user-t-rectangle-1069setup-your-portfolio {
  display: flex;
  z-index: 3;
  column-gap: 36px;
  align-items: center;
}

.dashboard-new-user-t-rectangle-1070create-your-first-project {
  display: flex;
  z-index: 4;
  justify-content: center;
  column-gap: 36px;
  align-items: center;
}

.dashboard-new-user-frame {
  margin-top:40px;
  padding-top: 23px;
  flex-direction: column;
  row-gap: 26px;
  height: 70vh;
  background-color: rgb(251, 251, 251);
  border-radius: 10px;
  box-shadow:2px 2px 4px 0px #AAAAAA;
  padding-left: 1.8em;
  padding-right: 1.8em;
}

.dashboard-new-user-it-looks-like-you-have-not-set-up-your-portfolio {
  margin: 30px 0;
  line-height: 2rem;

}

.dashboard-new-user-t-rectangle-1 {
  display: flex;
  justify-content: center;
  padding-top: 7px;
  align-self: stretch;
}


.dashboard-new-user-activities {
  align-self: stretch;
  padding-top: 7px;
  padding-right: 3px;
  letter-spacing: 0em;
}

.dashboard-new-user-join-aproject-to-view-recent-activities {
  display: grid;
  margin: 30px 0;
}
@media (min-width:1020px){
  .dashboard-new-user-frame {
    margin:0;
    padding-top: 23px;
    flex-direction: column;
    row-gap: 26px;
    height: 70vh;
    background-color: rgb(251, 251, 251);
    border-radius: 30px;
    box-shadow:2px 2px 4px 0px #AAAAAA;
    padding-left: 1.8em;
    padding-right: 1.8em;
  }
}
.pnav{
  display: flex;
  flex-direction: inherit;
  background-color:white;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid #D6D6D6;
 
}
.snav {
  display: flex;
  flex-direction: inherit;
  background-color:white;
  padding-left: 40px;
  padding-right: 40px;
  margin: 18px 0;
}

.inanav{
  flex-direction: inherit;
  background-color:white;
 
}
#signInForm {
  margin: auto;
  min-width: 600px;
}
#signUpForm{
  margin: auto;
  min-width: 600px;
}

.dashboard-mini-portfolio-frame {
  margin:0;
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 251, 251);
  border-radius: 8px;
  box-shadow:2px 2px 4px 0px #AAAAAA;
  padding: 16px 22px;
  row-gap: 16px;
}
:where([autocomplete=verticode]) {
  --otp-digits: 6;
  --otp-ls: 2ch;
  --otp-gap: 1.25;

  /* private consts */
  --_otp-bgsz: calc(var(--otp-ls) + 1ch);
  --_otp-digit: 0;

}

#regForm {
  margin: auto;
}
#profilesettings{
  margin: auto;
}

.login-flow-sign-in-page-tt-sign-in-new-to-switchkey-join-now-temail-trectangle-112tpassword-trectangle-113tttrectangle-114tremember-me-tforgot-password-trectangle-36ttline-69or-line-68trectangle{
  margin: auto;

 
}
.dashboard-design-aproject-header {
 margin: 0;
  
}
.dashboard-design-aproject-ttttttt-project-info-dx{
  padding-top: 25px;
  flex-direction: column;
  
}
.dashboard-design-aproject-how-would-you-describe-your-project {
 margin: 0;
 

}

.wide-slide{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(Landing-page-home/public/assets/pexels-photo.jpeg) ;

}
.wide-container {
  max-width: 1200px;
  min-width: 620px;
  color: white;
 }

.wide-header {
  padding: 10px;
  color: white;
 }

.dashboard-design-container-steps-row{
  flex-direction: row;
}
.dashboard-design-container{
  margin: 4px 0;
}
.dashboard-design-app-sub-container{
  display:block;
  width: 100%;
  padding: 20px 0px;
}
.dashboard-design-frame-container{
  display:block;
  width:100%;
  padding: 40px 0px;
}
.dashboard-border-frame-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 46px;
  border: #A8A8A8 1px;
  border-radius: 4px;
}
.dashboard-design-app-sub-container-text-steps{
  display:inherit;
  flex-direction: column;
}
#dashboard-design-sub-industry-tags{
  display:block;
  width: 70%;
  padding: 20px 0px;
}
#dashboard-design-product-tags{
  display:block;
  width: 70%;
}
.dashboard-design-aproject-checkbox-input-app-container{
  display:flex;
  padding: 10px 0px;
  column-gap: 24px;
}
.dashboard-design-input-app-container{
  display:flex;
  padding: 10px 0;
  justify-content: space-between;
  
}

.dashboard-card-vert-card {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: ghostwhite;
  padding: 24px 16px;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  width: 100%;
}

.dashboard-design-avatar-container{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}
.dash-basic{
  display: block;
  width:100%;
}
.dashboard-design-space-tags-container{
  display: flex;

}
#account-red-link{
  color: #b14e3a;
  padding: 20px 0px;
}

.dashboard-design-aproject-checkbox-input-box-sup-app-container{
  display:flex;
  color: #797979;
  text-indent: 0.4em;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffebeb;
}
@media (min-width:1020px){
  #regForm {
  margin: auto;
  padding: 0px 69px;
  min-width: 600px;
  max-width: 1200px;
  position: relative;
}

  #vendorForm {
  margin: auto;
  padding: 0px 69px;
  min-width: 600px;
  max-width: 1200px;
}

  #lookingformatch {
  margin: auto;
  padding: 0px 69px;
  min-width: 600px;
  max-width: 1200px;
}

#profilesettings{
  margin: auto;
  padding: 0px 69px;
  min-width: 600px;
  max-width: 1200px;;
}
.dashboard-design-container{
  display: flex;
  flex-direction: row;
  column-gap: 100px;

}
.dashboard-design-container-steps-row{
  text-indent: 0.5em;
  display: flex;
  margin: 18px 0;
  align-items: center;
}
.dashboard-design-space-tags-container{
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
.dashboard-design-radio-container{
  display: flex;
  flex-direction: row;
  text-indent: 0.4em;
  margin: 12px 0;
}

.dashboard-design-aproject-ttttttt-project-info-dx{
  padding-top: 25px;
  flex-direction: column;
  
}
}

/* Hide all steps by default: */
.tab {
  display: none;
}


#prevBtn {
  background-color: #bbbbbb;
}

.steps-container-column {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  flex-grow: 1;
}
.steps-container-row {
  margin: 40px 0;
  flex-grow: 1;
  row-gap: 20px;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: #727272;
  color: #727272;
  border: none;  
  mask: url(assets/check-circle.svg);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #5932EA;
  color: #5932EA;
  opacity: 100;
}

ol,
ul {
  padding-inline-start: 2.9em;
  
}

input {
  background-image: none;
}


.menu-icon {
  flex-shrink: 0;
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
  background-image: url(assets/DSquare1.svg);
}

.sub-menu-icon {
  flex-shrink: 0;
  display: flex;
  float: right;
  height: 16px;
  width: 16px;
  background-image: url(assets/ChevronRight1.svg);
}
.fix-icon{
  height: 24px;
  width:24px;
}

#user-details{
  display: flex;
  flex-direction: column;
  position: relative;
  column-gap: 16px;
  
}

#user-avatar {
  flex-shrink: 0;
  height: 32px;
  width: 32px;
  background-size: 32px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  background-image:url(assets/square-sizing.png);
}


#user-avatar1 {
  flex-shrink: 0;
  height: 44px;
  width: 44px;
  background-size: 44px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  background-image:url(assets/square-sizing.png);
}

#user-avatar2 {
  flex-shrink: 0;
  height: 74px;
  width: 74px;
  background-size: 74px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  background-image:url(assets/square-sizing.png);
}

.u-content{
  display: none;
  position: absolute;
  color: #9197B3;
  z-index: 1;
  line-height: 2.5;
  background-color: #ffffff;
  width:310px;
  
}
