*,
::before,
::after {
  --tw-content: "";
}

header{
  margin-top: auto;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  background-color: white;
  opacity: 100%;
}

body {
 height: 100%;
  
}

footer{
  margin:0;
  line-height: inherit;
  position: relative;
}

main{
  background-color: #FAFBFF;
  margin: auto;
}

.global-route-container{
  background-color: var(--deep-bg-color);
    height: 100%;
    width: 100%;
    display:inherit;
    margin:auto;
}

.app-route-style-container{
    height: 100%;
    width: 100%;
    display:flex;
}   

.page-content{
  flex: 9;
  margin:0 auto;
  height: 100vh;
  overflow: auto;
}
@media (min-width:1020px) {
  .page-content{
    width: 100%;
  }
}

.dashboard-page-app-display,.dashboard-portfolio-flow-user-portfolio-dashboard-portfolio-flow-user-portfolio{
  margin: auto;
  padding: 0 12px;
}
@media (min-width:1020px){
.dashboard-page-app-display,.dashboard-portfolio-flow-user-portfolio-dashboard-portfolio-flow-user-portfolio{
  padding: 0 14px;
  margin: auto;
}
}

.topnav{
  box-shadow: 0px 1px 0px #AAAAAA;
  position: relative;
  padding: 4px 14px;
}
.global-page-nav-swk{
  display:none;
  background-color: white;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow: hidden;
  transition: width .15s cubic-bezier(0,.57,.21,.99), box-shadow .15s cubic-bezier(0,.57,.21,.99);
  box-shadow: 1px 1px 2px 0px #AAAAAA;
}
 .topnav #hamburger-page-nav{
  display:none;
  background-color: white;
  margin: 20px;
  height: 100vh;
  transition: width .15s cubic-bezier(0,.57,.21,.99), box-shadow .15s cubic-bezier(0,.57,.21,.99);
}

@media (min-width: 1020px){
  .topnav{
    display: none;
  }

  .global-page-nav-swk{
    display: flex;
    width: 100%; 
    height: 100vh;
    min-width: 320px;
    visibility: visible;
  }
}
.global-start-page-steps-swk{
  display:none;
  background-color: #D9D9D9;
  flex-direction: column;
  overflow: hidden;
  transition: width .15s cubic-bezier(0,.57,.21,.99), box-shadow .15s cubic-bezier(0,.57,.21,.99);
}

@media (min-width: 1020px){
  .global-start-page-steps-swk{
    display: grid;
    height: 100vh;
    min-width: 600px;
    visibility: visible;
  }
}
.nav-swk-menu{
  flex-grow: 1;
  background-color: white;
  overflow:auto;
  flex-direction: inherit;
}

.overview-nav {
  display: flex;
  margin-top: 5%;
  z-index: 1;
  justify-content: space-evenly;
  letter-spacing: -0.01em;
}
.overview-nav12 {
  display: flex;
  justify-content: space-between;
  margin-right: 50%;
  margin-top: 24px;
}

@media (min-width:420px){
  .overview-nav {
    margin-top: 3%;
    z-index: 1;
    justify-content: space-evenly;
    letter-spacing: -0.01em;
  }
  .overview-nav12 {
    letter-spacing: -0.01em;
    padding: 0;
  }
}
.footer-user-info{
  display: flex;;
  column-gap: 12px;
  padding: 20px 40px;
  border-top: 1px solid #000000;
}
.footer-swk{
  display: flex;;
  padding: 20px 90px;
  align-items: center;
}

blockquote,
dl,
dd,
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

::before,
::after {
  --tw-content: "";
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: "Poppins",ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}


hr {
  border-top: 1px solid #D6D6D6;
}

  hr.dashed {
    border-top: 1px dashed #6D6D6D;
  }
  
  hr.dotted {
    border-top: 1px dotted #6D6D6D;
  }
  
  hr.rounded {
    border-top: 2px solid #6D6D6D;
    border-radius: 5px;
  }

abbr:where([title]) {
  text-decoration: underline dotted;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: 14px; 
}

b,
strong {
  font-weight: bold;
  font-size: 14px; 
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
.logo {
  flex-shrink: 0;
  display: flex;
  padding: 40px 0px 70px 40px;
}
.logo-b {
  flex-shrink: 0;
  display: flex;
  padding: 25% 15%;
  flex-direction: column;
  align-items: flex-start;
}
.logo-a {
  display: flex;
  padding: 35% 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-icon {
  margin: 0 20px;
  flex-shrink: 0;
  height: 79px;
  width: 124px;
  max-height: 100%;
  max-width: 100%;
  border:none;
  background: url("Sign In/public/assets/SwitchKeyLogo.svg") no-repeat center/contain;
}
.logo-icon1 {
  margin: 0 20px;
  flex-shrink: 0;
  height: 250px;
  max-width: 100%;
  border:none;
  background: url("Sign In/public/assets/SwitchKeyLogo.svg") no-repeat center/contain;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

button,
select {
  text-transform: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 4px 18px;
  min-width: none;
  max-width: fit-content;
  -webkit-appearance: button;
  background-color: transparent;
  border-radius: 4px;
}
input[type="checkbox"]{
  color: inherit;
  width: auto;
}

  .onv-button{
    display: inherit;
    flex-shrink: 0;
    flex-direction:column;
    color: white;
    border: none;
    align-items: center;
    line-height: 2;
}
.onv-border{
  border-width: thin;
    border-radius: 100%;
    padding: 4px;
}
.onv-button12{
  display: inherit;
  flex-shrink: 0;
  border: none;
  line-height: 2;
  padding: 0;
}
.onv-button a{
  font-size:12px

}
.onv-button12 a{
  border: none;
  padding: 0%;
  line-height: 2;
}
.hamburger-button{
  display: inherit;
  color: white;
  border: none;
  margin: 22px;
  width: 34px;
  height: 34px;
  float: right;
}

@media (min-width: 760px){
.onv-button a{
  display: inherit;
  flex-shrink: 0;
  flex-direction:column;
  color: white;
  border: none;
  align-items: center;
  padding: 0%;
}
.onv-button12 a{
  border: none;
  padding: 0%;
  line-height: 2;
}
.hamburger-button {
  display: none;
}
}

button:hover {
  opacity: 0.8;
}
.btn {
  -webkit-appearance: button;
  border-color: #5932EA;
  border-width: 2px;
  color: #000000;
}
.btn-b1{
  -webkit-appearance: button;
  color: white;
  background-color: #7E69FF;
  min-width: min-content;
  max-width: unset;
}
.btn-job-category-tags{
  -webkit-appearance: button;
  border-color: black;
  border-width: 1px;
  padding: 8px 12px;
  border-radius: 24px;
  color: #9ca3af;
}
input:focus + btn-job-category-tags{
  background-color: #7E69FF;
  color: white;
  border: none;
}
#btn-job-add-tags{
  -webkit-appearance: button;
  border-color: black;
  border-width: 1px;
  padding: 8px 12px;
  border-radius: 24px;
  color: #9ca3af;
}

.btn-blue{
  -webkit-appearance: button;
  color: #000000;
  padding: 10px 24px;
  background-color: #0029FF; 
  color: white;
  border: none;
}
.btn-red{
  -webkit-appearance: button;
  color: #000000;
  padding: 10px 24px;
  background-color: red; 
  color: white;
  border: none;
}
.btn-b244{
  -webkit-appearance: button;
  border-color: black;
  border-width: 2px;
  color: #000000;
  min-width: min-content;
  max-width: unset;
  border-radius: 0;

}

.btn-sm {
  padding:0;
  -webkit-appearance: button;
  color: #000000;
  border:none;
  
}
.btn-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.btn-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.btn-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #AAAAAA;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .btn-slider {
  background-color: #5932EA;
}

input:focus + .btn-slider {
  box-shadow: 0 0 1px #5932EA;
}

input:checked + .btn-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.btn-slider.round {
  border-radius: 34px;
}

.btn-slider.round:before {
  border-radius: 50%;
}
button:hover {
  opacity: 0.8;
}

.icon-button {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 16px;
  padding: 18px 0px;
  color: #9197B3;
  border:0;
}
.mobile-icon-button{
  display: flex;
  font-size: large;
  padding: 18px 0px;
  border: none;
  align-items: center;
}
.icon-button a{
  display: inherit;
}
  /* On mouse-over */
  .icon-button:hover ,li:hover a{
    display:inherit;
    opacity: 0.8;
  }
  
  .icon-button:focus  {
    display:inherit;
    font-weight:bold;
    color: #5932EA;
   
  }
  li:focus a{
    display:inherit;
    font-weight:bold;
    color: #5932EA;
  }

.sub-menu-content {
  display: none;
  position: relative;
  color: #9197B3;
  transition: background-color .1s ease-in-out;
  z-index: 1;
  line-height: 2.5;
}

ul .sub-menu-content li a{
  display: block
}

input[type="search"]{
  -webkit-appearance: textfield;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  border:none;
  justify-content: flex-start;
  background-position: right;
  padding: 8px 40px 8px 8px;
}
:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
  color: #D9D9D9;
  
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h5,
h6{
  margin-top: 22px;
  font-size: 22px;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
}
@media (min-width:760px){
  blockquote,
dl,
dd,
h1,
h5,
h6{
  margin-top: 35px;
  font-size: 24px;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
}
}

h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  font-family: inherit;
  color: white;
}

@media (min-width:760px){
h2{
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  font-family: inherit;
  color: white;
}
}

h3{
  font-size: 18px;  
  font-weight: bold;
  margin: 0;
  font-family: inherit;
  color: rgb(0, 0, 0);
  justify-self: flex-start;
}

@media (min-width:760px){
h3{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-family: inherit;
  color: rgb(0, 0, 0);
  justify-self: flex-start;
}
}

h4{
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: inherit;
  color: #6D6D6D;
}

figure,
p {
  margin:0;
  font-family: inherit;
  color: #6D6D6D;
}
pre{
  font-family: inherit;
  color: #6D6D6D;
  font-size: 10px;
}
fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

legend {
  padding: 0;
}

label{
  display: inline-block;
  font-weight: 500;
}

ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style: circle;
  margin: 0;
  padding: 0;
  line-height: 2.2;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
  font-weight: normal;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
embed,
object {
  display: flex;
  vertical-align: middle;
}

iframe{
  width: 100%;
  height: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}
  
[show]  {
  display: block;
}